<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dobrodosli na tutori.etf.ba, <%= @user.name %></h1>
    <p>
      Da biste aktivirali svoj korisnicki racun, kliknite na link ispod: 
     <%= @url %>.
    </p>
  </body>
</html>