<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="ProfileCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<div class="container">

<form ng-submit = "updateUser()">
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                    <div class="name"><small>{{user_profile.name}}&nbsp{{user_profile.family_name}}&nbsp({{user_profile.privilege.name}})</small></div>
                  
                </div>

    <br><br><br>
<div class="form-group">
      <label for="username" class="col-md-3 control-label">Korisničko ime: </label>
      <div class="col-md-9">
      <input type="text" name="username" ng-model="user_profile.username" class="form-control">
    </div>
  </div><br><br>
    <div class="form-group">

      <label for="email" class="col-md-3 control-label">Email: </label>
                    <div class="col-md-9">
<input type="text" name = "email" ng-model="user_profile.email" class="form-control">
</div>
</div><br><br>
<div class="form-group">
       <label for="location" class="col-md-3 control-label">Lokacija: </label>
              <div class="col-md-9">

       <input type="text" name="location" ng-model="user_profile.location" class="form-control">
     </div>
   </div>
     <br>
      

<br><br><br>
      <div class= "alert alert-success" ng-show="profileUpdatedSuccess">Profil je uspješno izmijenjen!</div>
      <div ng-show = "sameUser">
      <button id="send" name="send" class="btn btn-primary btn-md pull-right" >
      <a ng-click="updateUser()"  style="color:white" href = "/#/edit_profile/{{user_profile.id}}">Uredi profil</a></button
      </div>

</form>


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>