
<div class="container" ng-controller="ProfileCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<div class="container">


        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                    <form ng-submit="updateUser()">
                    <input type="text" name="name" value={{user_profile.name}} ng-model="user.name">
              
                  
                </div>
                
    <br><br><br>


      <input type="text" name="email" value={{user_profile.email}} ng-model="user.email">

       <input type="text" name="location" value={{user_profile.location}}>

      

      <h3>Predmeti </h3>
      <ul>
      <li> Matematika </li>
      <li> Fizika </li>
      <li> Elektronika </li>
      </ul>
      
      <div ng-show = "sameUser">
      <a ng-click="updateUser()" class="btn btn-md btn-primary" style="color:white" href = "/home#/edit_profile/{{user_profile.id}}">Uredi profil</a>

      </div>


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>