<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="ProfileCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<div class="container">

<form ng-submit = "updateUser()">
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">

                  
                </div>

    <br><br><br>

                Korisničko ime: <input type="text" name="name" ng-model="user_profile.username">
<br><br>
      Email: <input type="text" name = "email" ng-model="user_profile.email">
<br><br>
       Lokacija: <input type="text" name="location" ng-model="user_profile.location">

      

      <h3>Predmeti </h3>
      <ul>
      <li> Matematika </li>
      <li> Fizika </li>
      <li> Elektronika </li>
      </ul>
      
      <div ng-show = "sameUser">
      <a ng-click="updateUser()" class="btn btn-md btn-primary" style="color:white" href = "/home#/edit_profile/{{user_profile.id}}">Uredi profil</a>
</form>
      </div>


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>