        <div class="container" ng-controller="HomeCtrl">  
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="input-group input-group-lg">
                        <input ng-model="searchText" type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h4>
                        Svi oglasi
                    </h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-1" >
                    <div class="panel panel-default" ng-repeat="ad in ads | filter:searchText">
                        <div class="panel-heading"><div class="row"><div class="col-md-2"><img class="img-responsive img-circle" width="50" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="..."></div> 
                        <div class="col-md-5"><label style="color:black"><h4><b> {{ad.title}}</b></h4></label></div></div>

                        </div>
                        <div class="panel-body">
                            <div class="text-left">
                                <label style="color:black"> Tutor: <a href="/home#/user_profile/{{ad.tutor.id}}">{{ad.tutor.name}}</a></label>
                                <br>
                                <label style="color:black"> Oblast: {{ad.science_field.name}}</label>
                                <br>
                                <label style="color:black"> Predmet: <a href="/home#/subject/{{ad.subject_id}}">{{ad.subject.name}}</a></label>
                                <br>
                                <label style="color:black"> Lokacija:{{ad.tutor.location}}</label>
                                <br>
                                <label style="color:black"> Cijena po satu:{{ad.hourly_rate}}</label>

                            </div>
                            <button id="send" name="send" class="btn btn-primary btn-sm pull-right" >Pogledaj više</button>
                        </div>
                    </div>
                </div>
            </div>            
        <!-- /.container -->

        </div>

