
<div class="container" ng-controller="MessagesCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<div class="container">
 <h3><a href="/home#/new_message"> New Message </a></h3>

      <h4>Messages</h4>  
     
<div ng-controller="MessagesCtrl">
      <ul>
    		<li ng-repeat="message in messages" >

      		<a href="/home#/messages/{{message.id}}">{{message.subject}}</a>

    		</li>
  </ul>
  </div>

</div>




 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>