<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="AdsCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<form ng-submit="createAd()">
 
       
     Title <input type="text" ng-model="newTitle" >
              
                
               
                
    <br><br><br>


    

      Description <input type="text" ng-model="newDescription">


    <br><br><br>


    

      Hourly rate <input type="text" ng-model="newHourlyRate">
       <br><br><br>
      <a ng-click="createAd()" class="btn btn-md btn-primary" style="color:white" href="/home#/new_ad">Post ad</a>
</form>
 


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>