<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="AdsCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



<h2> New ad: </h2>

<br>




<form class = "form-horizontal col-lg-6" ng-submit="createAd()">


 <div class="form-group">
  <label class="col-md-3 control-label">Title: </label>
    <div class="col-md-9">
    <input type="text" class="form-control"  placeholder="Title" ng-model="newTitle">
    </div>
</div>
 
   
                
 <div class="form-group">
  <label class="col-md-3 control-label">Description: </label>
    <div class="col-md-9">
    <input type="text" class="form-control"  placeholder="Description" ng-model="newDescription">
    </div>
</div>


    
 <div class="form-group">
  <label class="col-md-3 control-label">Hourly rate: </label>
    <div class="col-md-9">
    <input type="text" class="form-control"  placeholder="Hourly Rate" ng-model="newHourlyRate">
    </div>
</div>

      <a ng-click="createAd()" class="btn btn-md btn-primary" style="color:white" href="/home#/new_ad">Post ad</a>


<br><br>
<div class= "alert alert-success" ng-show="success">Ad successfully uploaded!</div>
</form>
 


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>