
<div class="container" ng-controller="MessagesCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">





<form ng-submit="createMessage()">
 
       
     Subject <input type="text" ng-model="newSubject" >
              
                  
               
                
    <br><br><br>


     Receiver <input type="text" ng-model="newReceiver">
         <br><br><br>

      Content <input type="text" ng-model="newContent">
       <br><br><br>
      <a ng-click="createMessage()" class="btn btn-md btn-primary" style="color:white" href="/home#/new_message">Send message</a>
</form>
 


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>