<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="ProfileCtrl">  
<form ng-submit = "updateUser()">
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                    <div class="name"><small>{{user_profile.name}}&nbsp{{user_profile.family_name}}&nbsp({{user_profile.privilege.name}})</small></div>
                  
                </div>
                
    <br><br><br>


      <h3>Lokacija <small>{{user_profile.location}}</small></h3>

      

       <div class="tab-content">
      <div class="tab-pane active" id="clanovi">

      <h3>Predmeti </h3>
      <ul>
      <li ng-repeat = "subject in user_profile.subjects"> {{subject.name}} </li>
      </ul>
      
      <div ng-show = "sameUser">
      <button id="send" name="send" class="btn btn-primary btn-md pull-right" ><a href = "/home#/edit_profile/{{user_profile.id}}" style="color:white">Uredi profil</button>
      </div>


     
        
    </div>

     </div>

    
    
</div>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>