<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="MessageViewCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <h3>Subject: {{message.subject}}</h3>
  
    -----------------------------------------------------
    <br>
    <h5>{{message.content}}</h5>



   

<!--<form ng-submit="createMessage()">
 
      
    
                  
               
  
      <a ng-click="createMessage()" class="btn btn-md btn-primary" style="color:white" href="/home#/new_message">Send reply</a>
</form>-->
 


     
   



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>