<div id="navbar" ng-controller="HeaderCtrl">
  <div ng-include src="'partials/header.html'"></div>
</div>
<div class="row">
  <div id="navbar" ng-controller="HeaderCtrl">
    <div ng-include src="'partials/sidebar.html'"></div>
  </div>
  <div id="main">
<div class="container" ng-controller="AdViewCtrl">  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



    <h3> {{ad.title}}</h3>
    -------------------------------
    <h5>{{ad.description}}</h5>
   


 


     
   



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</div>