    <div class="intro-header">
        <div class="container">  
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <h4>
                        Najnoviji oglasi
                    </h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img class="pic img-circle" width="40" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="..."> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Tutor:</b> Ime Prezime
                        </div>
                        <div class="panel-body">
                            <div class="text-left">
                                <b> Oblast:</b>
                                <br>
                                <b> Predmet:</b>
                                <br>
                                <b>  Lokacija:</b>
      
                            </div>
                            <button id="send" name="send" class="btn btn-primary btn-sm pull-right" >Pogledaj više</button>
                        </div>
                    </div>
                </div>
            </div>            
        <!-- /.container -->

        </div>
    </div>
    <!-- /.banner -->

