<html data-ng-app="OglasnikZaTutore">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Angular test </title>

</head>
 <body>

<h1 data-ng-controller="HelloWorldCtrl">{{helloMessage}}</h1>

Angular test 
<script src="javascripts/angular.js"> </script>
<script type="text/javascript">

  function HelloWorldCtrl($scope){
       $scope.helloMessage="Hello World";
  }

</script>

</body>
</html>